NEON_AUTH_BASE_URL=
NEON_AUTH_COOKIE_SECRET=
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"

DATABASE_URL=
DIRECT_URL=


NEON_API_KEY=
NEON_PROJECT_ID=
NEON_BRANCH_ID=

NEXT_PUBLIC_EMAIL_VERIFICATION_ENABLED=